<section class="about d-block mx-5 mt-2">
    <h3 class="">Sobre Mí</h3>
    <p> Apasionado por el desarrollo de aplicaciones web,
        actualmente me
        dedico a crear y desarrollar mis propios proyectos, los cuales me desafían a aprender y aplicar
        nuevas
        tecnologías. Estos representan mi principal vía de estudio e investigación, una actividad que
        disfruto mucho.</p>
</section>
<hr>