<section class="educacion mx-5">
    <h3>Educación</h3>
    <div class="mt-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h6 class="m-0 text-dark-emphasis">CodoACodo 4.0</h6>
            <small class="time">Feb 2024 - Jul 2024</small>
        </div>
        <p> Formacion Fullstack - Tecnologias: HTML, CSS3, Js,
            Boostrap, SQL, Node Js, Express, JWT
        </p>
    </div>
    <div class="mt-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h6 class="m-0 text-dark-emphasis">UNC - Argentina Programa 4.0 </h6>
            <small class="time">Mar 2023 - Dic 2023</small>
        </div>
        <p>Formación Frontend - Consumo de APIs Tecnologias: HTML5, CSS3,
            JavaScript,
            React, Node
        </p>
    </div>
    <div class="mt-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h6 class="m-0 text-dark-emphasis">NEORIS - UTN Formación en JAVA</h6>
            <small class="time">Ago 2023 - Dic 2023</small>
        </div>
        <p>Con perfil de desarrollador de software de
            aplicaciones. JAVA, MAVEN, MySQL
        </p>
    </div>
</section>
<hr>