
h2{
    font-size: 1.1rem;
    font-weight: 800;
}
h6{
    font-weight: 800;
}
.card {
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0);
}

img {
    object-fit: cover;
}

p {
    margin-bottom: 0;
}

a {
    transition: background-color 0.3s ease;
    /* Duración y suavidad de la transición */
}

a:hover {
    background-color: rgb(146, 197, 255);
}
nav > a:hover{
    background-color: transparent !important;
}
#floating-menu{
    cursor: pointer;
    border-color: rgb(27, 24, 73) !important;
    background-color: rgba(0, 0, 255, 0.281)!important;
        a>svg{
            color:rgb(27, 24, 73);
        }
}

/*DARK MODE*/
.dark-mode{
    h1, h2, h3, h4, h5, h6, p, span{
    color: white !important;
    }
    .dark-icon{
        background-color: rgb(27, 24, 73);
        border: 1.9px solid #fff !important;
        & svg{
            fill: #fff;
        }
        
        &:hover{
            background-color: aliceblue !important;
        }
    }
    .card{
        background-color: rgb(27, 24, 73);
        border-color: #fff;
    }
    #floating-menu{
        border-color: #fff !important;
        background-color: rgba(0, 0, 255, 0.281)!important;
        a>svg{
            color: #fff;
        }
    }
}

@media (max-width:910px){
    #floating-menu{
        flex-direction: row !important;
        margin-left: 50% !important;
        top: auto !important;
        bottom: -10px !important;
        background-color: rgba(198, 198, 226, 0.568)!important;
    }
    #floating-menu > a{
        margin: 0 10px 0 10px;
        &svg{
            fill: #fff;
        }
        
    }
}
@media (max-width: 680px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.1rem;
        font-weight: 800;
    }
    span{
        font-size: .85rem;
    }
    p{
        font-size: .9rem;
        margin-left: 10px
    }

    .mx-5 {
        margin: 0 !important;
    }

    .header {
        flex-direction: column-reverse;
    }

    .header-description {
        align-items: center;
        text-align: center;
    }

    .header-img {
        max-width: 10rem !important;
    }

    .card {
        width: 100% !important;
    }

    .card-container {
        flex-direction: column-reverse !important;
    }
}
/* imprimir */
@media print {
    .no-print{
        display: none !important;
    }
}